 <div style="margin: 0 auto;width: 800px;margin-top:50px">
 <%= image_tag("LOGO2.png", :style => "width: 800px;") %>
</div>
<div style="    width: 650px;
    font-size: x-large;
    margin: 0px auto;
    text-align:center;
    font-family: Verdana, Geneva, sans-serif;
    margin-top: 30px;
    color: rgb(29,223,252);"> 
    Prysmic, a medical emergency network, securely provides first responders with a patient's critical, medical information in an emergency situation. This system could directly save your life.
 </div>

<div style="margin: 0px auto;
    width: 155px;
    margin-top: 30px;">
 <div class="btn btn-lg btn-primary" style="font-family:Verdana, Geneva, sans-serif">Learn More</div>
</div>