<div> Today, in a medical emergency situation, first responders often have little or no medical information 

about a patient they are about to treat. Furthermore, if the patient must go to the hospital, basic medical 

information about that patient is rarely available at the time of arrival. The current system is inefficient 

since not having this information may delay the delivery and decrease the quality of needed medical 

services.


Prysmic makes basic and detailed medical information about a patient available to medical 

service providers immediately through personal electronic devices.
 
A system where medical service providers have instant access to patient information will save time, 

money, lives, and generally benefit everyone involved in the process. This includes: patients, first 

responders, doctors, hospital administrators, insurance companies, and possibly, the public at large.


The following example illustrates the procedure and value in using MEIS when an accident occurs 

and EMS is called to the scene. With MEIS, the first responders send out a triggering signal from their 

official device, and every patient’s MEIS equipped mobile device within a very limited range will 

respond. Simple, secure encrypted algorithms running on the official device make 

patient identification and record matching easy where multiple MEIS equipped device respond. The 

EMS technician will then have access to information that may prove crucial to immediate stabilization, 

treatment, and in unusual cases, for their safety as well. In addition, the information can be 

automatically forwarded to the receiving hospital should emergency room services be required. Upon 

arrival, the hospital staff and doctors will be better prepared with information, resources, and supplies to 

begin immediate treatment. The hospital’s administrative side will also benefit from decrease time spent 

trying to identify issues and treating patients. 
 </div>