<div style="width:600px;height:625px;margin:65px auto;background-color: rgb(63,101,175);color:white;">
	<div style="width:560px;margin: 10px auto;">
	<iframe style="margin-top:20px" width="560" height="315" src="https://www.youtube.com/embed/UrQre4P5E7M" frameborder="0" allowfullscreen></iframe>
	</div>

	<div style="color:white;width:520px;font-family:disco;text-align:center;padding-top:0px;margin:0px 40px"> PRYSMIC, a medical emergency network, securely provides first responders with a patients critical, medical information in an emergency situation. This system could directly save your life. Currently, in our day and age it is shocking how little information is available to the EMS responders when they arrive to treat a patient. Furthermore, even doctors in the emergency room often don’t have access to basic patient information. It makes their jobs harder, but more importantly, can be dangerous to you. In the case you are in an emergency, this system will provide your secure, preloaded, and personal medical information to EMS responders treating you. PRYSMIC will revolutionize and transform the delivery of emergency medical service which now, is information-less.
	</div>
</div>