</br>
<div style="font-size: 60px;color:rgb(38,92,172);width:660px;margin: 0 auto;font-family:Verdana, Geneva, sans-serif;margin-top: 20px;">Content Coming Soon</div>
</br>
<!-- <div style="width:500px;margin: 0 auto;">Want to hear updates?</div> -->

<div style="width:700px;margin:0px auto;margin-bottom:40px">
 <%= image_tag("demo2.jpg", :style => "width: 700px;") %>
</div>
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div style= "font-family:Verdana, Geneva, sans-serif;color:rgb(38,92,172)" id="mc_embed_signup">
<form action="//Prysmic.us12.list-manage.com/subscribe/post?u=cb1282daa784867c3aa87d146&amp;id=a3443a9e7e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" style="padding: 0px;
    padding-top: 10px;" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
    <div style="width:420px;height: 50px;margin: 0 auto;">
		<label style="width:155px;float:left;line-height: 30px;    font-size: 23px;" for="mce-EMAIL">Contact us:</label>
<!-- 		<input style="width:250px;float: left;margin-right: 10px;"  type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required> -->
		<div style="width:250px;float: left;margin-right: 10px;font-size: 24px;"> contact@prysmic.com</div>
	</div>

	<div style="width:420px;height: 50px;margin: 0 auto;">
		<label style="width:155px;float:left;line-height: 30px;    font-size: 23px;" for="mce-EMAIL">Subscribe:</label>
		<input style="width:250px; display: -webkit-inline-box;background:rgb(29,223,252)" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
	</div>
	</div>
<!-- 	<input style="width:10px; display: -webkit-inline-box;" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"> -->

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_cb1282daa784867c3aa87d146_a3443a9e7e" tabindex="-1" value=""></div>

    </div>
</form>
</div>
</br>
</br>
<!-- <div style="width:500px;color:rgb(38,92,172);margin: 0 auto;font-family:Verdana, Geneva, sans-serif;">Contact</div>
<div style="width:500px;color:rgb(38,92,172);margin: 0 auto;font-family:Verdana, Geneva, sans-serif;">email: contant@prysmic.com</div> -->