 <div style="margin: 0 auto;width: 800px;margin-top:60px">
 <%= image_tag("LOGO2.png", :style => "width: 800px;") %>
</div>
 <div style="margin: 0 auto;width: 700px;">
  <%= image_tag("demo3.jpg", :style => "width: 700px;") %>
</div>
<div style="    width: 650px;
    font-size: x-large;
    margin: 0px auto;
    text-align:center;
    margin-top: 30px;
    color: rgb(38,92,172);
    font-family: disco;
    font-weight: 600;"> 
    PRYSMIC, a medical emergency network, securely provides first responders with a patient's critical, medical information in an emergency situation. This system could directly save your life.
 </div>

<%= link_to contact_welcome_path() do %>
<div style="margin: 0px auto;
    width: 155px;
    margin-top: 30px;">
 <div class="btn btn-lg btn-primary" style="font-family:disco;    background: rgb(29,223,252);border-color: rgb(29,223,252);margin-bottom: 100px;">Learn More</div>
</div>
<% end %>